body
{
	background: #f8f8f8;
	font-family: 'Josefin Sans', sans-serif;
}
/*NavBar Menu begins*/
#Menu
{
	display: none;
	position:fixed;
	background:#001e3c;
	height:100%;
	margin-top: 0%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	color: #636e72;
	overflow:auto;
	/*overflow-y: scroll;
	overflow-x: hidden;*/
	z-index: 100;
}
h6.menuHead
{
	color:#82ccdd;
	font-size: 150%	;
	/*text-decoration: underline;*/
	margin-left: 5%;
	padding:5%;
	font-weight: bold;
	font-family: 'hevletica',sans-serif;
}
a.menuContent
{
	color: white;
	text-decoration: none;
	padding:3%;
	font-weight: bold;
	font-size: 120%;
	font-family: 'hevletica',sans-serif;
}
a.menuContent:hover
{
	color: #636e72;
	text-decoration: none;
	font-size: 140%;
	padding:5%;
	font-weight: bold;
}
#MenuCross
{
font-size: 150%;
text-align: right;
margin:4%;
cursor: pointer;
/*color: #d2003c;*/
color:#82ccdd;
font-weight: bold;
}
/*NavBar Menu ends*/

/*SearchBar begins*/
#searchBar
{
	display:none;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	width:100%;
}

#sinput1
{
	height: 100%;
	width:100%;
	padding:1%;
}
#sinput2
{
	padding:1%;
	width:100%;
	height: 100%;
}
/*SearchBar ends*/

/*NavBar begins*/
.navbar
{
	/*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 3px 5px 0 rgba(0, 0, 0, 0.19);
	background: #001e3c;*/
	background: transparent;
	box-shadow: none;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index: 10;
}
a.navContent
{
	color: white;
	font-size: 110%;
	font-weight: bold;
	margin: 4%;
}
a.navContent:hover
{
	color: white;
	border-bottom: 3px solid #d2003c;
	font-weight: bold;
	text-decoration: none;
}
a.logo
{
	color:#F44336;
	font-size: 120%;
	font-weight: bold;
}
a.logo:hover
{
	color:#F44336;
	text-decoration: none;
}
#searchBar button
{
	padding: 1%;
	width:8%;
}
.navname,.navlogo
{
	margin-top: 8px;
}
/*NavBar ends*/

/*homepic(Cover picture on Home) begins*/
#homepic
{
	width: 100%;
	background: url("../imgs/homepic11.jpeg");
	background-size:100% 100%;
	/*filter: blur(5px);*/
	color: white;
	text-align: center;
	padding:15%;
}
#homepic h3
{
	font-weight: bold;
	font-size: 350%;
}
/*homepic(Cover picture on Home) ends*/

/*Configuring for different screen sizes :- */
@media (max-width: 767.98px)	/*for mobile and tablet*/
{
	.navname
	{
		display: none;
	}
	#Menu
	{
		width:65%;
	}
	a.navContent
	{
		display: none;
	}
	#homepic
	{
		width: 100%;
		background: url("../imgs/homepic11.jpeg");
		background-size:100% 100%;
		/*filter: blur(5px);*/
		color: white;
		text-align: center;
		padding:5%;
		padding-top: 15%;
	}
	#homepic h3
	{
		font-weight: bold;
		font-size: 300%;
	}
	/*SearchBar begins*/
	#searchBar
	{
		display:none;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
		width:100%;
	}

	#sinput1
	{
		height: 100%;
		width:100%;
		padding:1%;
		margin-left: -3%;
	}
	#sinput2
	{
		padding:1%;
		width:300%;
		height: 100%;
		margin-left: -150%;
	}
	/*SearchBar ends*/

	/*Footer Begins */
	.footer
	{
		max-height: 22vh;
		min-height: 22vh;
		background-color: #001e3c;
		color: white;
		padding: 3%;
	}
}

#belowContent
{
	margin-top: 3%;
	font-family: sans-serif;
}

#belowContent h1
{
	font-weight: bold;
}

@media (min-width: 768px)	/*for other devices*/
{
	.navlogo
	{
		display: none;
	}
	#Menu
	{
		width:22%;
	}
	.footer /* footer */
	{
		max-height:15vh;
		min-height:15vh;
		background-color: #001e3c;
		color: white;
		padding: 3%;
	}
}

.card{
	z-index: -2;
	padding: 2%;
	border-radius: 18px;
}
.wrap
{
	padding: 0%;
	margin:4%;
	border-radius: 18px;
}
.wrap:hover
{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}

.card-text
{
	min-height: 8vh;
}

a.aForBut
{
	text-decoration: none;
	color: black;
}
a.footerLink, a.footerLink:hover
{
	text-decoration: none;
	color: white;
}
