/*NavBar Menu begins*/
#Menu
{
	position:fixed;
	background:#001e3c;
	height:100%;
	margin-top: 0%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	color: #636e72;
	overflow:auto;
	/*overflow-y: scroll;
	overflow-x: hidden;*/
  display: none;
	z-index: 100;
}
h6.menuHead
{
	color:#82ccdd;
	font-size: 150%	;
	text-decoration: underline;
	margin-left: 5%;
	padding:5%;
	font-weight: bold;
}
a.menuContent
{
	color: white;
	text-decoration: none;
	padding:3%;
	font-weight: bold;
	font-size: 120%;
}
a.menuContent:hover
{
	color: #636e72;
	text-decoration: none;
	font-size: 140%;
	padding:5%;
	font-weight: bold;
}
#MenuCross
{
font-size: 150%;
text-align: right;
margin:4%;
cursor: pointer;
/*color: #d2003c;*/
color:#82ccdd;
font-weight: bold;
}
/*NavBar Menu ends*/

/*SearchBar begins*/
#searchBar
{
	display:none;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
	width:100%;
}

#sinput1
{
	height: 100%;
	width:100%;
	padding:1%;
}
#sinput2
{
	padding:1%;
	width:100%;
	height: 100%;
}
/*SearchBar ends*/

/*NavBar begins*/
.navbar
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: #001e3c;
	/*position:fixed;
	top:0;
	left:0;
	right:0;*/
}
a.navContent
{
	color: white;
	font-size: 110%;
	font-weight: bold;
	margin: 4%;
}
a.navContent:hover
{
	color: white;
	border-bottom: 3px solid #d2003c;
	font-weight: bold;
	text-decoration: none;
}
a.logo
{
	color:#F44336;
	font-weight: bold;
}
a.logo:hover
{
	color:#F44336;
	text-decoration: none;
}
#searchBar button
{
	padding: 1%;
	width:8%;
}
.navname,.navlogo
{
	margin-top: 8px;
}
/*NavBar ends*/


/*Configuring for different screen sizes :- */
@media (max-width: 767.98px)	/*for mobile and tablet*/
{
	.navname
	{
		display: none;
	}
	#Menu
	{
		width:65%;
	}
	a.navContent
	{
		display: none;
	}
	/*SearchBar begins*/
	#searchBar
	{
		display:none;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
		width:100%;
	}

	#sinput1
	{
		height: 100%;
		width:100%;
		padding:1%;
		margin-left: -3%;
	}
	#sinput2
	{
		padding:1%;
		width:300%;
		height: 100%;
		margin-left: -150%;
	}
	/*SearchBar ends*/
}

@media (min-width: 768px)	/*for other devices*/
{
	.navlogo
	{
		display: none;
	}
	#Menu
	{
		width:22%;
	}
}
